<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">

.header-container{
    width: 1600px;
    height: 600px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 215px;
    padding-right: 227px;
    background-color: var(--main background color)
}

.logo {
    font family: var(--secondary font);
    font-weight:700;
    font-size: 26px;
    text-decoration: none;
}

.logo-in-hedaer{
    margin-top: 24px;
    margin-bottom: 25px;
}

.first::first-letter{
    color:#2196f3
}
.second::second-letter{
    color:#2196f3
}
.third::third-letter{
    color:#2196f3
}
.header-btns{
    font family: var(--main font);
    font-weight: 500 ;
    font-size: 14;
    text-align: center;
    color: #212121;
    text-decoration: none;
}
.btn-Agencja-in-header{
margin-left: 93px}

.btn-Portfolio-in-header{
    margin-left: 46px;
    margin-right: 46px;
}
.contacts-in-header{
    font family: var(--main font);
    font-weight: 500 ;
    font-size: 14;
    text-align: center;
    text-decoration: none;
}

.contacts-in-header:hover,
.contacts-in-header:focus{
color: #2196f3
}

.e-mail-in-header{
margin-left: 371px;
color:#2196f3
}
.phone-number-in-header{
    color:#757575
    margin-left: 50px;
}

:root{
    --main font: 'Roboto';
    --secondary font: 'Raleway';
    --main background color: #ffffff;
}

.font-family{
'Roboto', 'Raleway'
}



/*======MAIN PAGE======*/



.solutions-container{
    width: 1600px;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: auto;
    padding-right: auto;
    background-color: #2f303A;
}

.solutions-title{
    font family: var(--main font)
    font-weight: 900;
    font-size: 44px;
    line-height: 1,364;
    letter-spacing: 0,06em;
    color: #ffffff;
    text-align: center
}
.btn-in-solutions-container{
    width: 200px;
    height: 50px; 
    background-color: #2196f3;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font family: var(--main font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 0,06em;
    color: #ffffff;
    text-align: center
}

.Lorem-ipsum-container{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--main background color);
    width:1600px;
    height: 289px
}

.what-we-do-container{
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: var(--main background color);
        width:1600px;
        height:438px;
        padding-top: 50px;
        padding-left: 215px;
        padding-right: 215px;
        padding-bottom: 94px;
}

.LOREM-IPSUM-title{
    font family: var(--main font)
    font-weight: 700;
    font-size: 14px;
    line-height: 1,172;
    letter-spacing: 0,02em;
    background color: var(--main background color);
    text-align: left
}
.LOREM-IPSUM-text{
    font family: var(--main font)
    font-weight: 400 ;
    font-size: 14;
    line-height: 1,714;
    letter-spacing: 0,02em;
    color: var(--main background color);
    text-align: left
    padding-top: 94px;
    padding-bottom: 94px;
}

.What-we-do-title{
    font family: var(--main font)
    font-weight: 700 ;
    font-size: 36;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: var(--main background color);
    text-align: center;
    margin-bottom: 50px
}

.Our-team-title{
    font family: var(--main font)
    font-weight: 700 ;
    font-size: 36;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: var(--main background color);
    text-align: center;
    margin-bottom: 50px
}
.name{
    font family: var(--main font)
    font-weight: 500 ;
    font-size: 16;
    line-height: 1,188;
    letter-spacing: 0,03em;
    text-align: center
}

.job{
    font family: var(--main font)
    font-size: 16;
    line-height: 1,172;
    letter-spacing: 0,03em;
    color: #757575;
    text-align: center
}

.our-team-container{
    background-color: #f5f4fa;
    width: 1600px;;
    height:648px
}
.boxes-container{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #f5f4fa;
    width: 1600px;;
    height:462px
}

.our-team-box:not(:last-child){
    margin-right: 30px;
}

.padding{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 215px;
    padding-right: 215px;
}

/*======END MAIN PAGE======*/

/*======PAGE PORTFOLIO======*/

.portfolio-inline-flex-container{
    display: inline-flex;
    align-items: center;
    margin: auto;
    background-color:#ffffff
}

.portfolio-flex-item{
    padding: 30px;
    background-color:#ffffff
    text-align:left
}

.porfolio-image-size{
    width:370px;
    height:294px
}


.portfolio-text_bottom-figcaption-image-nameproject{
    font family: var(--main font)
    font-weight: 700 ;
    font-size: 18;
    line-height: 2;
    letter-spacing: 0,06em;
    color: #212121;
}

.portfolio-text_bottom-figcaption-image-category{
    font family: var(--main font)
    font-size: 16;
    line-height: 1,875;
    letter-spacing: 0,03em;
    color:#757575
}
.portfolio-list-btn{
    font family: var(--main font);
    font-weight: 500 ;
    font-size: 16;
    text-align: center;
    margin-bottom: 40px
}

.portfolio-card-box{
    width: 370px;
    height: 404px;
}

.portfolio-card-border{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: turquoise;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

/*======END PAGE PORTFOLIO======*/


/*======NAVIGATION======*/
.modal-btn:hover,
.modal-btn:focus{
background-color: #7e8b96;
color:#ff4040

}
.links-color:hover,
.links-color:focus{
    color:#ff4040
}
/*======END NAVIGATION======*/

/*======FOOTER======*/
.footer-container{
    display: flex;
    align-items: center;
    width: 1600px; 
    height: 252px; 
    background-color: #2f303A;
}
.footer-items{
    margin-left:215px ;
}

.logo-in-footer{
    line-height: 1,174;
    margin-top: 60px;
    color:#ffffff
}

.contacts-in-footer{
    font family: var(--main font);
    font-size: 14 px;
    line-height: 1,714;
    letter-spacing: 0,03em;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
}

/*======END FOOTER======*/