<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">

.logo {
    font family: var(--secondary font);
    font-weight:700;
    font-size: 26px;
}
.logo-in-hedaer{
    margin-top: 24px;
    margin-left: 215px;
    margin-right: 93px;
    margin-bottom: 25px;
}

.first::first-letter{
    color:#2196f3
}
.second::second-letter{
    color:#2196f3
}
.third::third-letter{
    color:#2196f3
}
.header-list-btn{
    font family: var(--main font);
    font-weight: 500 ;
    font-size: 14;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 93px;
}

.btn-Portfolio-in-header{
    margin-left: 46px;
    margin-right: 46px;
}
.contacts-in-header{
    font family: var(--main font);
    font-weight: 500 ;
    font-size: 14;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 371px;
}

.phone-number-in-header{
    margin-left: 50px;
}

:root{
    --main font: 'Roboto';
    --secondary font: 'Raleway';
    --main background color: #ffffff;
}

.font-family{
'Roboto', 'Raleway'
}



/*======MAIN PAGE======*/

.first-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.solutions-container{
    display: inline-flex;
    align-items: center;
    margin: auto;
    background-color: #2f303A;
    width:100%;
    height:600px
}

.section LOREM IPSUM{
    margin-left: 215px;
    margin-right: 215px;
}

.LOREM-IPSUM-title{
    font family: var(--main font)
    font-weight: 700;
    font-size: 14;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: var(--main background color);
    text-align: left
}
.LOREM-IPSUM-text{
    font family: var(--main font)
    font-weight: 400 ;
    font-size: 14;
    line-height: 1,714;
    letter-spacing: 0,02em;
    color: var(--main background color);
    text-align: left
    padding-top: 94px;
    padding-bottom: 94px;
}

.What-we-do-title{
    font family: var(--main font)
    font-weight: 700 ;
    font-size: 36;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: var(--main background color);
    text-align: center
}

.Our-team-title{
    font family: var(--main font)
    font-weight: 700 ;
    font-size: 36;
    line-height: 1,172;
    letter-spacing: 0,02em;
    color: var(--main background color);
    text-align: center
}
.name{
    font family: var(--main font)
    font-weight: 500 ;
    font-size: 16;
    line-height: 1,188;
    letter-spacing: 0,03em;
    text-align: center
}

.job{
    font family: var(--main font)
    font-size: 16;
    line-height: 1,172;
    letter-spacing: 0,03em;
    color: #757575;
    text-align: center
}

.our-team-container{
    display: inline-flex;
    align-items: center;
    margin: auto;
    background-color: #f5f4fa;
    width:100%;
    height:648px
}

.padding{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 215px;
    padding-right: 215px;
}

/*======END MAIN PAGE======*/

/*======PAGE PORTFOLIO======*/

.portfolio-inline-flex-container{
    display: inline-flex;
    align-items: center;
    margin: auto;
    background-color:#ffffff
}

.portfolio-flex-item{
    padding: 30px;
    background-color:#ffffff
    text-align:left
}

.porfolio-image-size{
    width:370px;
    height:294px
}


.portfolio-text_bottom-figcaption-image-nameproject{
    font family: var(--main font)
    font-weight: 700 ;
    font-size: 18;
    line-height: 2;
    letter-spacing: 0,06em;
    color: #212121;
}

portfolio-text_bottom-figcaption-image-category{
    font family: var(--main font)
    font-size: 16;
    line-height: 1,875;
    letter-spacing: 0,03em;
    color:#757575
}
.portfolio-list-btn{
    font family: var(--main font);
    font-weight: 500 ;
    font-size: 16;
    text-align: center;
    margin-bottom: 40px
}

.portfolio-card-box{
    width: 370px;
    height: 404px;
}

.portfolio-card-border{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: turquoise;
    border-bottom-style: solid;
    border-bottom-width: 2px ;
}

/*======END PAGE PORTFOLIO======*/


/*======NAVIGATION======*/
.modal-btn:hover,
.modal-btn:focus{
background-color: #2196f3;
color:#ff4040

}
.links-color:hover,
.links-color:focus{
    color:#ff4040
}
/*======END NAVIGATION======*/

/*======FOOTER======*/
.footer-container{
    width: 100%; 
    height: 252px; 
    background-color: #2f303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-items{
    margin-left:215px ;
    margin-right:1154px ;
}

.logo-in-footer{
    line-height: 1,174;
    margin-top: 60px;
    color:#ffffff
}

.contacts-in-footer{
    font family: var(--main font);
    font-size: 14 px;
    line-height: 1,714;
    letter-spacing: 0,03em;
    margin-top: 20px
}

/*======END FOOTER======*/